<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>New Storage Space</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen"
        th:href="@{/resources/css/bootstrap.min.css}"/>
  <link href="../../../resources/css/core.css" rel="stylesheet" media="screen"
        th:href="@{/resources/css/core.css}"/>
  <script src="../../../resources/js/jquery.min.js"
          th:src="@{/resources/js/jquery.min.js}"></script>
  <script src="../../../resources/js/bootstrap.min.js"
          th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/layout :: header"></div>

<!-- /* Handle the flash message */-->
<th:block th:if="${message != null}">
  <!-- /* The message code is returned from the @Controller */ -->
  <div
      th:replace="fragments/components :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}})">
    &nbsp;
  </div>
</th:block>

<div class="container">
  <h3 class="lead text-center">
    Storages List:
  </h3>

  <table class="table table-bordered table-responsive">
    <thead>
    <tr class="table-active">
      <th>Free Space</th>
      <th>Overall Space</th>
      <th>Price</th>
      <th>Country</th>
      <th>City</th>
      <th>Street</th>
      <th>Description</th>
    </tr>
    </thead>
    <th:block th:each="storage : ${storages}">
      <tr>
        <td th:text="${storage.freeSpace}">Free Space</td>
        <td th:text="${storage.overallSpace}">Overall Space</td>
        <td th:text="${storage.price}">Price</td>
        <td th:text="${storage.location.country}">Country</td>
        <td th:text="${storage.location.city}">City</td>
        <td th:text="${storage.location.street}">Street</td>
        <td th:text="${storage.description}">Description</td>
      </tr>
    </th:block>
  </table>
</div>
<div th:replace="fragments/layout :: footer"></div>
</body>
</html>